//  Button

.btn {
  border: 0;
  outline: 0;
  background-color: transparent;

  &--move {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
  }

  &--primary {
    border-radius: 10px;
    background-color: #e48565;
    color: $white;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 300;
  }
}
