doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Friends Filter
  body
    .grid.grid--container
      .row
        .col.col--md-2.col--sm-offset-5
          .image.image--logo
            img(src='./app/images/logo.png' alt="Другофильтр")
      .row
        .col.col--md-8.col--sm-offset-2
          .filter
            header.filter__header
              .header.header--title Выберите друзей
              .filter__close
                svg(xmlns='http://www.w3.org/2000/svg', width='14', height='14').icon.icon--close
                  path(fill='#FFF', fill-rule='evenodd', d='M9.828 7l2.829 2.828a2 2 0 0 1-2.829 2.829L7 9.828l-2.828 2.829a2 2 0 0 1-2.829-2.829L4.172 7 1.343 4.172a2 2 0 0 1 2.829-2.829L7 4.172l2.828-2.829a2 2 0 0 1 2.829 2.829L9.828 7z')

            .filter__fields
              .row.row--no-gutters
                .col.col--md.col--no-gutters
                  .field.field--common
                    input.field__input.field__input--common.js-filter-input(type='search', data-input='common', placeholder='Введите имя друга')
                .col.col--md.col--no-gutters
                  .field
                    input.field__input.js-filter-input(type='search', data-input='favorite', placeholder='Введите имя друга')
            .filter__content.js-filter
              .row.row--no-gutters
                .col.col--md.col--no-gutters
                  .friends
                    .header.header--friends Ваши друзья
                    ul.friends__list.js-friends-list(data-list='common')
                .col.col--md.col--no-gutters
                  .friends.friends--favorites
                    .header.header--friends Друзья в списке
                    ul.friends__list.js-friends-list(data-list='favorite')
            footer.filter__footer
              button.btn.btn--primary.js-save Сохранить
      
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:300,500', rel='stylesheet', lazyload='')
    script(src='https://vk.com/js/api/openapi.js?159', type='text/javascript')
