doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Friends Filter
  body
    .grid.grid--container
      .col.col--md-8.col--sm-offset-2
        .filter
          header.filter__header
            .filter__title Выберите друзей
            .filter-close
              //- svg.filter-close__icon
                use.filter-close__cross(xlink:href='#cross', x='0', y='0')
          .filter__fields
            .row.row--no-gutters
              .col.col--md.col--no-gutters
                .filter-field
                  input.filter-field__input.js-filter-input(type='search', data-input='common', placeholder='Введите имя друга')
              .col.col--md.col--no-gutters
                .filter-field
                  input.filter-field__input.js-filter-input(type='search', data-input='favorite', placeholder='Введите имя друга')
          .filter__content.js-filter
            .row.row--no-gutters
              .col.col--md.col--no-gutters
                .filter-friends
                  .filter-friends__title Ваши друзья
                  ul.filter-friends__list.js-friends-list.friends__list(data-list='common')
              .col.col--md.col--no-gutters
                .filter-friends.filter-friends--favorites
                  .filter-friends__title Друзья в списке
                  ul.filter-friends__list.js-friends-list.friends__list(data-list='favorite')
          .foote.filter-footer.filter__footer
            button.filter__save.js-save Сохранить

    script(src='https://vk.com/js/api/openapi.js?159', type='text/javascript')
